/*Vlastný font*/
@font-face { font-family: Croissant; src: url('../fonts/CroissantOne-Regular.woff2'); } 

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Croissant, serif;
}

.banner {
    background: #009579;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px;
    gap: 20px;
}

.banner__text {
    line-height: 1.4;
    font-family: "Quicksand", sans-serif;
    font-size: 1.3rem;
}

.banner__close {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.banner__text,
.banner__close > span {
    color: #ffffff;
}

nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    background-color: black;
    position: sticky;
    top: 0;
}

nav div {
    padding: 10px 20px;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 715px){
    .nav-ul {
        flex-direction: column;
    }
}

.nav-ul li {
    list-style: none;
    height: 100%;
    display: flex;
    align-items: center;
    transition: background-color 0.3s ease;
}

.nav-ul li:hover {
    color: #141C1C;
    background-color: #ebe3e3;
}

.nav-ul a {
    font-size: 1.6rem;
    height: 100%;
    width: 100%;
    color: #ebe3e3;
    padding: 15px 10px;
}

.nav-ul a:hover {
    color: #141C1C;
}

.ReserveLink {
    font-size: 20px;
    font-weight: 600;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ReserveLink:hover {
    background-color: #ebe3e3;
    color: #141C1C;
}

.ReserveLink a {
    display: block;
    color: #ebe3e3;
    text-decoration: none;
    transition: color 0.3s ease;
}

.ReserveLink:hover {
    background-color: #ebe3e3;
}

.ReserveLink:hover a {
    color: #141C1C;
}

h1 {
    font-size: 8vh;
    color: #141C1C;
    text-transform: uppercase;
    text-align: center;
}

.home {
    background-color: #f5e6b7;
}

/*Slideshow*/
.slideshow-container {
    max-width: 1000px;
    position: sticky;
    margin: auto auto;
    padding: 0 20px;
}

/*Skryje obrázky*/
.mySlides {
    display: none;
}

/*Tlačítka na posúvanie*/
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 20px;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

/*Popis obrázku*/
.text {
    color: #f2f2f2;
    font-size: 24px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

.numbertext {
    color: #f2f2f2;
    font-size: 20px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/*Bodky*/
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

footer {
    background-color: black;
    color: #ebe3e3;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer-FRow {
    font-size: 25px;
    margin: 0 15px;
}

a {
    text-decoration: none;
}

/*Chat tlačidlo*/
.open-button {
    background-color: #009579;
    color: #ebe3e3;
    font-size: 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 23px;
    right: 28px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 3px solid wheat;
}
    
/*Chat formulár*/
#myForm {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
}
    
.form-container {
    max-width: 300px;
    border-radius: 15px;
    padding: 10px 15px;
    background-color: #424242;
}
    
.form-container textarea {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
    resize: none;
    min-height: 200px;
}

.form-container textarea:focus {
    background-color: #ddd;
    outline: none;
}

.form-container .btn {
    background-color: #009579;
    font-size: larger;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
    opacity: 0.8;
}

.form-container .cancel {
    background-color: red;
}

.form-container .btn:hover,
.open-button:hover {
    opacity: 1;
}